:root {
  --font-size: 13px;
  --form-element-spacing-vertical: 0.3rem;
  --form-element-spacing-horizontal: 0.5rem;
  --typography-spacing-vertical: 0.75rem;
}

.main-page {
  margin: 10px;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
}

.games-list__header {
  font-weight: 600;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}